:root {
  --primary: #4f46e5;
  --primary-hover: #4338ca;
  --secondary: #06b6d4;

  --bg-body: #f8fafc;
  --bg-card: #ffffff;
  --bg-input: #f1f5f9;

  --text-main: #0f172a;
  --text-muted: #64748b;
  --border-light: #e2e8f0;

  --radius: 12px;
  --shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px -3px rgba(79, 70, 229, 0.1);

  --font-main:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-main);
  background-color: var(--bg-body);
  color: var(--text-main);
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
  border: none;
  font-family: inherit;
}
